/* body,p,span{
    font-family: 'Roboto',sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik',sans-serif;
} */

/* start of css */

.g-bg{
    background-color: #f9fafb;
}
.navbar.main-header{
    background: #fff;
}
.navbar.main-header .continer-fluid
.slider-section .continer-fluid{
    max-width: 1480px !important;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
}
body .btn-primar{
    background: #111111;
    border-color: #e73a3e;
    font-size: 16px;
    padding: 10px 38px;
    color: #ffffff;

    position: relative;
    transition: all .7s ease-in-out !important;

    z-index: 1;
}
body .btn-primar:hover{
    border-color: #111;
    color: #fff;
}
body .btn-primar::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #e73a3e !important;
    position: absolute;
    top: 0;
    left: 0%;
    border-radius: 0 2px 2px 0;
    border-color: #e73a3e !important;
    transition: all .7s ease-in-out;
    z-index: -1;
}
body .btn-primar:hover::before{
    height: 100%;
    width: 0%;
    color: #ffffff;
}
body .btn-primar::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #e73a3e !important;
    position: absolute;
    top: 0;
    right: 0%;
    border-radius: 2px 0 0 2px; 
    border-color: #e73a3e !important;
    transition: all .7s ease-in-out;
    z-index: -1;
}
body .btn-primar:hover::after{
    height: 100%;
    width: 0%;
    color: #ffffff;
}

/* manu */

ul.own-manu{
    list-style: none;
}
ul.own-manu li{
    position: relative;
}
ul.own-manu li a i {
	position: relative;
	top: 1px;
	left: 2px;
	font-size: 13px;
}
ul.own-manu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 11px;
    color: #111111;
    font-weight: 500;
    transition: all .4s ease-in-out;
}
ul.own-manu li a:hover{
    color: #e73a3e;
}

/* dropdown css */

ul.own-manu li ul {
	position: absolute;
	width: 200px;
	left: -32px;
	top: 200%;
	background: #fafafa;
	list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out;
}
ul.own-manu li ul li{
    flex-direction: column;
}
ul.own-manu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 150%;
}

/* .header-info{} */
.h-search{
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.h-call{
    width: 220px;
}
.h-c-icon{
    font-size: 33px;
    color: #e73a3e;
}
.h-c-info span{
    color: #606060;
}
.h-c-info a{
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    text-decoration: none;

}
/* .h-btn{} */

/* slider section */

.slider-section{
    background: url(./img/logo.png.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-section h6 {
	color: #e73a3e;
	font-weight: 500;
	font-size: 20px;
}
.slider-section h1{
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-section p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}
.slider-contant-wrap {
	height: 90vh;
	display: flex;
	align-items: center;
	position: relative;
}
.header-social{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header-social ul {
	list-style: none;
	padding-left: 10px;
}
/* .header-social ul li{} */
.header-social ul li span{
    display: inline-block;
    font-size: 18px;
    margin-right: 50px;
    position: relative;
}
.header-social ul li span::after {
	content: "";
	height: 2px;
	width: 35px;
	background: #111111;
	position: absolute;
	top: 55%;
	left: 95px;
}
.header-social ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 13px;
    font-size: 20px;
    color: #111111;
    transition: .5s;
}
.header-social ul li a:hover{
    color: #e73a3e;
}

/* logo section */

.logo-section{
    border-bottom: 1px solid #dddd;
}
/* .client-logo{} */
.client-logo ul{
    list-style: none;
    padding-left: 0;
}
/* .client-logo ul li{} */

/* about-section */

.about-img{
    position: relative;
}
.about-img img{
    width: 90%;
}
.a-i-text h2 {
	color: #e73a3e;
	font-size: 53px;
	font-weight: 600;
}
.a-i-text p {
	font-size: 16px;
	font-weight: 600;
}
.about-img-text {
	position: absolute;
	right: 66px;
	bottom: 5px;
	background: url(./img/{99107B81-D7A8-421B-B986-9B0DE18CB6F0}.png.jpg) no-repeat center center;
	background-size: contain;
	height: 200px;
	width: 200px;
	border-radius: 101px 98px 71px 105px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .finix-text{} */
.finix-text h6{
    color: #e73a3e;
    font-weight: 400;
    font-size: 20px;
}
.finix-text h2{
    font-size: 42px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.finix-text p{
    color: #606060;
    font-size: 18px;
}
.finix-text strong{
    color: #606060;
    font-size: 20px;
    font-weight: 400;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 5px 0;
}
.finix-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    color: #e73a3e;
    margin-right: 10px;
}

/* why-choose-us */

.why-choose-us .img {
	width: 96%;
	margin-top: 40px;
}
.why-us-text{
    position: relative;
}
.why-choose-us a {
	display: inline-block;
	height: 90px;
	width: 90px;
	background: #fff;
	text-align: center;
	line-height: 84px;
	font-size: 60px;
	color: #e73a3e !important;
	border-radius: 50%;
	position: absolute;
	bottom: 54px;
	right: 238px;
}
.why-choose-us a::before{
    content: "";
    height: 90px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73a3e;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;
}
@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.3);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

.feture-items{
    text-align: center !important;
}

.feture-item{
    background: #ffffff;
    padding: 30px;
    margin-bottom: 30px;

    position: relative;
    overflow: hidden;
    transition: .6s;
}
.feture-item:hover{
    transform: translateY(-15px);
}
.feture-item::before {
	content: "";
	height: 70%;
	width: 90%;
	position: absolute;
	top: -159px;
	right: 0;
	left: 0;
	margin: auto;
	background: #fdebeb;
	border-radius: 50%;
}
.feture-item.mt5{
    margin-top: -30px;
}
/* .feture-item h3{} */
.feture-item p{
    color: #606060;
}

.ft-icon {
	color: #e73a3e;
	height: 90px;
	width: 90px;
	font-size: 20px;
	background: #ffffff;
	line-height: 81px;
	margin: auto;
	border-radius: 50%;
    position: relative;
    transition: .6s;
}
.feture-item:hover .ft-icon{
    color: #fff;
    background: #e73a3e;
}
/* .ft-icon i{} */
.ft-icon span {
	font-size: 29px;
	font-weight: 600;
	position: relative;
	top: 3px;
}

/* apply-now-section */

/* .step-timeline{} */
.step-timeline ul{
    list-style: none;
    position: relative;
    padding-left: 62px;
}
.step-timeline ul::before {
	content: "";
	position: absolute;
	left: 21px;
	top: 0;
	width: 1px;
	height: calc(100% - 90px);
	background: #e73a3e;
}
.step-timeline ul li{
    margin-bottom: 25px;
    position: relative;
}
.step-timeline ul li::before {
	content: attr(data-counter);
	height: 40px;
	width: 40px;
	background: #f9fafb;
	border: 1px solid #e73a3e;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: -59px;
	text-align: center;
	line-height: 37px;
}
.step-timeline ul li strong{
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}
.step-timeline ul li p{
    color: #606060;
}


.calculate-rate{
    background: #fdebeb;
    padding: 50px;
}

.calculate-rate .finix-text h6{
    color: #606060;
    font-size: 20px;
}
/* .calculate-rate .finix-text h2{} */

.calculate-form .form-group{
    margin-bottom: 20px;
}
.calculate-form .form-group input{
    border: none;
    border-radius: 0px;
    padding: 14px 15px;
}
.calculate-form .form-group select{
    border: none;
    border-radius: 0px;
    padding: 14px 15px;
}
.calculate-form .form-group label{
    display: block;
    margin-bottom: 10px;
}

/* call-to-action */

.action-bg {
	background: #e73a3e;
	padding: 60px;
	border-radius: 6px;
	color: #ffffff;
	padding-bottom: 52px;
}
.action-bg h2{
    font-size: 40px;
    font-weight: 400;
    border-right: 1px solid #ddd;
    margin-left: 5px;
}
.action-phone{
    margin-top: 18px;
}
.action-phone span{
    display: inline-block;
    height: 60px;
    width: 60px;
    background: #fff;
    color: #e73a3e;
    text-align: center;
    line-height: 56px;
    border-radius: 50%;
    font-size: 32px;
    margin-right: 20px;
}
.action-phone a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 44px;
}

/* our-company-valus */

/* .our-company-valus{} */
.valus-item{
    margin-bottom: 10px;
}
.valus-item .valus-icon{
    font-size: 39px;
    color: #e73a3e;
    margin-right: 30px;
    height: 40px;
    width: 40px;
}
/* .valus-text{}
.valus-text h3{} */
.valus-text p{
    color: #606060;
    font-size: 18px;
}
.our-company-img{
    text-align: right;
    margin-top: 72px;
}
.our-company-img img{
    width: 95%;
}

/* services-tab */

.services-tab{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 40px !important;
}
.services-tab li{
    flex: 1 1 auto;
}
.services-tab li a span{
	color: #606060 !important;
	height: 60px;
	width: 60px;
	margin: auto;
	background: #ffffff;
	text-align: center;
	line-height: 54px;
	border-radius: 50%;
	box-shadow: 2px 2px 10px rgba(0,0,0, .5);
	font-size: 30px;
    transition: .5s;
    position: relative;
}
.services-tab li a span:hover{
    color: #e73a3e !important;
}
.services-tab li a span::before {
	content: "";
	height: 0px;
	width: 0px;
	background: #e73a3e;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.services-tab li a span:focus:before{
    left: -35px;
	bottom: -57px;
    height: 2px;
	width: 134px;
}
.services-tab li a strong{
    color: #111111 !important;
    font-size: 20px;
}
.services-tab li a:focus{
    color: #e73a3e !important;
}

/* my-carousel */

.my-carousel p {
	font-size: 27px;
	color: #111;
}
.my-carousel img {
	width: 100%;
}
.carousel-indicators li{
    background-color: #e73a3e;
}
.carousel{
    position: relative !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: #e73a3e;
	padding: 22px 1px;
	border-radius: 10px;
	text-align: center;
}
.client-detail h5 {
	color: #e73a3e;
	font-size: 24px;
	font-weight: 600;
}
.client-detail strong{
    color: #606060;
}

/* team-member-section */

.member-img{
    position: relative;
    margin-bottom: 15px;
}
.member-img img{
    width: 100%;
    height: auto;
}
.member-social-icon{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.member-social-icon ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-bottom: 25px;
}
.member-social-icon ul li{
    display: inline-block;
    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}
.member-img:hover .member-social-icon ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.member-img .member-social-icon ul li:nth-child(1){
    transition-delay: .2s;
}
.member-img .member-social-icon ul li:nth-child(2){
    transition-delay: .3s;
}
.member-img .member-social-icon ul li:nth-child(3){
    transition-delay: .4s;
}
.member-img .member-social-icon ul li:nth-child(4){
    transition-delay: .5s;
}
.member-social-icon ul li a{
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 38px;
    color: #444 !important;
    transition: .5s;
}
.member-social-icon ul li a:hover{
    background: #e73a3e;
    color: #fff !important;
}

.member-content h4{
    color: #e73a3e;
    font-weight: 600;
}
.member-content p{
    font-size: 20px;
    color: #606060;
}
/* blog section */

.blog-img img{
    width: 100%;
}
.blog-content h3{
    color: #111111;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-content a{
    text-decoration: none;
}

.blog-content strong{
    color: #111111;
    transition: .5s;
}
.blog-content strong:hover{
    color: #e73a3e;
    letter-spacing: 2px;
}

/* footer */

footer{
    background: #111111;
    color: #f9fafb;
}
footer img{
    max-width: 100%;
}
footer a{
    text-decoration: none;
    color: #f9fafb;
}
footer ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-top{
    border-bottom: 1px solid #444;
}
.footer-bottom p{
    color: #606060;
    font-size: 20px;
    margin-bottom: 0;
}
.footer-bottom{
    transition: .5s;
}
.footer-bottom a:hover{
    color: #e73a3e !important;
}
.footer-widget h3{
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-widget ul li {
	padding-bottom: 10px;
}
.footer-widget ul li a{
    transition: .5s;
}
.footer-widget ul li a:hover{
    color: #e73a3e !important;
    letter-spacing: 2px;
}
.widget-social ul li a {
	padding-left: 18px;
    transition: .5s;
}
.widget-social ul li a:hover{
    letter-spacing: normal;
}

.f-contact-item span {
	padding-right: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	color: #e73a3e;
}
.f-contact-item a {
	padding-bottom: 10px;
    transition: .5s;
}
.f-contact-item a span{
    transition: .5s;
    font-size: 17px;
    color: #f9fafb;
}
.f-contact-item a:hover{
    color: #e73a3e !important;
    letter-spacing: 1px;
}
.f-contact-item a span:hover{
    color: #e73a3e !important;
    letter-spacing: 1px;
}

/* The End */

.header-breadcrumb{
    padding: 120px 0;
    background-image: url(./img/{CD3F7002-C3F5-44BD-B5A9-BF8506E21FAD}.png.jpg);
    background-position: center 13%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.header-breadcrumb::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
}